
.main-heading{
    margin: 50px;
    font-size: 100px;
    font-weight: bold;
}
.moving-text {
    font-weight: bold;
    font-size: 100px;
    color: #084244;
}

/* ---------------------------------------------------first section--------------------------------------------- */
.first-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
}
.first-section img {
    width: 700px;
    height: 500px;
}
.first-section h1{
    width: fit-content;
}
.first-section p {
    margin: 50px;
    font-size: 20px;
    word-spacing: 4px;
    line-height: 2rem;
    padding: 10px 15px;
}
.first-section p, .seventh-section p, .eighth-section p, .ninth-section p {
    background:
      linear-gradient(currentColor 0 0) 0 100%,
      linear-gradient(currentColor 0 0) 0 100%,
      linear-gradient(currentColor 0 0) 100% 0,
      linear-gradient(currentColor 0 0) 100% 0;
    background-size: 20px 3px, 3px 20px;
    background-repeat: no-repeat;
    transition: 1s;
}
.first-section p:hover, .seventh-section p:hover,  .eighth-section p:hover, .ninth-section p:hover {
    background-position: 100% 100%, 0 0, 0 0, 100% 100%;
}



/* ----------------------------------------second section------------------------------------------------------------ */
.second-section{
    background-color: #54d2d628;
    margin-top: 40px;
    padding:20px;
}
.second-section h1{
    font-size: 50px;
    width: 100%;
    background: linear-gradient(to right, black, #0d6467);
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent; 
}
.hover-card{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}



/* ----------------------------------------third section------------------------------------------------------------ */
.third-section{
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;
    /* max-width: 500px; */
    background-color: #f5f9fc;
}
.third-section .empty{
    width: 90%;
    max-width: 90%;
}
.third-section .filled{
    display: none;
}
.number1, .number2, .number3, .number4, .number5, .number6{
    margin: 0;  
}
.regis, .course, .basket, .industry, .since, .alumni{
    display: flex;
    margin-top: -5px;
    font-size: 30px;
    font-weight: bold;
}
.regis{
    margin-top: 0;
}
.registration {
    position: absolute;
    z-index: 10;
    top: 13rem;
    left: 51rem;
    font-size: 30px;
    color: #47a414;   
}
.courses {
    position: absolute;
    z-index: 10;
    top: 13rem;
    left: 36.5rem;
    font-size: 40px;
    color: #119ee0;   
}
.baskets{
    position: absolute;
    z-index: 10;
    top: 8.5rem;
    left: 24.5rem;
    font-size: 40px;
    color: #c815b4;   
}
.industry-exp{
    position: absolute;
    z-index: 10;
    top: 20rem;
    left: 64.5rem;
    font-size: 40px;
    color: #E14F43;
}
.since-year{
    position: absolute;
    z-index: 10;
    top: 30.5rem;
    left: 55.5rem;
    font-size: 25px;
    color: #DD8317;   
}
.alumnis{
    position: absolute;
    z-index: 10;
    top: 24rem;
    left: 29rem;
    font-size: 50px;
    color: #DB1977;   
}
.alumni{
    font-size: 40px;;
}


/* ----------------------------------------fourth section------------------------------------------------------------ */
.fourth-section, .tenth-section, .eleventh-section{
    background-color: #f5f9fc;
    display: block;
    text-align: center; 
    padding-top: 30px;
}
.fourth-section img, .tenth-section img, .eleventh-section img{
    max-width: 100%;
    max-height: 100%;
}
.fourth-section2 {
    padding-top: 50px;
}


/* ----------------------------------------fifth-section------------------------------------------------------------ */
.fifth-section {
    margin-top: 20px;
    margin-bottom: 30px;
}


/* ----------------------------------------sixth-section------------------------------------------------------------ */




/* ----------------------------------------seventh, eight, ninth section ------------------------------------------------------------ */
.seventh-section{
    margin-top: 50px;
}
.seventh-section, .eighth-section, .ninth-section{
    display: flex;
    font-size: 18px;
    line-height: 2rem;
    letter-spacing: 0.5px;
    word-spacing: 5px;
    /* color: #084244; */
    color: #343232;
    align-items: center;
}
.seventh-section p, .eighth-section p, .ninth-section p{
    padding: 20px;
    margin: 20px;
}
.seventh-section img, .eighth-section img, .ninth-section img{
    width: 500px;
    height: 500px;
}
.seventh-section img, .ninth-section img {
    height: 450px;
}

/* ----------------------------------------tenth section ------------------------------------------------------------ */
.tenth-section {
    margin-top: 0;
    padding-top: 0;
}
/* ----------------------------------------eleventh section ------------------------------------------------------------ */
.eleventh-section img{
    width: 80%;
    max-width: 100%;
}
/* ----------------------------------------twelth section ------------------------------------------------------------ */
.twelth-section{
    display: flex;
    justify-content: space-around;
}









@media only screen and (max-width: 1024px) {
    .main-heading {
        margin: 0;
    }
    .first-section {
        display: block;
        margin-top: 100px;
    }
    .first-section h1{
        font-size: 40px;
        margin-left: 30px;
    }
    .moving-text{
        font-size: 55px;
    }
    .first-section p {
        margin: 10px;
    }
    .first-section img {
        width: 100%;
        height: 50%;
    }
    /* .------------------------------------------------------------------- */

    .second-section{
        margin-top: 0px;
        padding: 10px;
    }
    .second-section h1{
        font-size: 25px;
        text-align: center;
        width: 100%;
    }
    .hover-card{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    /* ------------------------------------------------------------------------ */

    .seventh-section, .eighth-section, .ninth-section{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        font-size: 16px;
        line-height: 1.4;
    }
    #child1{
        order:2;
    }
    #child2{
        order: 1;
    }
    .seventh-section img, .eighth-section img, .ninth-section img{
        width: 100%;
        height: 100%;
    }
    .seventh-section p, .eighth-section p, .ninth-section p{
        padding: 5px 10px;
        margin: 5px;
    }
/* ----------------------------------------------------------------------------------------- */
    .third-section img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .third-section .filled{
        display: block;
    }
    .third-section .empty{
        display: none;
        margin: 0;
    }
    .registration, .courses, .baskets, .industry-exp, .since-year, .alumnis {
        display: none;
    }
    /* ------------------------------------------------------------------------------- */
    .fourth-section img, .fifth-section img {
        width: 500px;
        height: 100%;
        object-fit: cover;
    }
    .eleventh-section img{
        width: 100%;
    }
    /* ---------------------------------------------------------------------------------- */
    .twelth-section{
        display: block;
    }

}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .main-heading span {
        font-size: 100px;
    }
    .hover-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .third-section .filled{
        display: block;
        width: 100%;
        height: 100%;
    }
    .fourth-section img, .tenth-section img {
        height: 100%;
        width: 100%;
    }
    .seventh-section, .eighth-section, .ninth-section{
        font-size: 20px;
        line-height: 2.5rem;
    }
}
