body{
    overflow-x:hidden;
}
.card-temp-2{
    height: 300px;
    position: relative;
}
.sq-small-2{
    width: 150px;
    height: 150px;
    background-color: #00AEFF;
    transform: rotate(45deg);
    position: absolute;
    border-radius: 10px;
    left: 50px;
    top: 70px;
    transition: 0.5s ease
}
.sq-med-2{
    width: 150px;
    height: 150px;
    background-color: #95E4F9;
    transform: rotate(45deg);
    position: absolute;
    border-radius: 10px;
    left: 100px;
    top: 70px;
    transition: transform 0.5s ease;
}
.sq-lar-2{
    width: 200px;
    height: 200px;
    background-color: #EBF2F7;
    transform: rotate(45deg);
    position: absolute;
    border-radius: 10px;
    left: 160px;
    top: 45px;
}
.rectangle-1-2{
    width: 50%;
    height: 130px;
    position:absolute;
    background-color: #95E4F9;
    border-radius: 10px;
    left: 400px;
    top: 79px;
    cursor: pointer; 
    font-size: 20px;
    color: #11A1D3;
    font-weight:600;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.rectangle-2-2{
    width: 15rem;
    height: 150px;
    position:absolute;
    background-color: #95E4F9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(103, 101, 101, 0.36);
    left: 178px;
    top: 70px;
    cursor: pointer; 
    font-size: 25px; 
    font-weight: bold;  
    color: #11A1D3;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.course-name-2{
    margin-bottom: 5px;
    padding: 0 5px;
}
.course-no-2{
    margin-top: 0px;
    color: #00AEFF;
}
.course-desc-2{
    padding: 10px 40px;
    text-decoration: none;
    color: #0d8dc9;
}





.RtoL-card-2{
    transform: scaleX(-1)!important;
}
.mirror-text-2{
    transform: scaleX(-1)!important;
}
.animate-card {
    opacity: 0;
    transform: translateX(70px); 
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    backface-visibility: hidden;
  }
  
.animate-card.visible {
    opacity: 1;
    transform: translateX(0);
}





@media only screen and (max-width: 1024px) {
    .rectangle-1-2{
        font-size: 15px;
    }
    .animate-card {
        transform: translateY(70px); 
      }
      
    .animate-card.visible {
        transform: translateY(0);
    }
    
}
@media only screen and (max-width: 768px) {
    .card-temp-2{
        height:350px;
    }
    .sq-small-2{
        
        width: 130px;
        height: 130px;
        left: 33%;
        top: 10%;
        border-radius: 5px;
    }
    .sq-med-2{
        width: 130px;
        height: 130px;
        border-radius: 5px;
        left: 33%;
        top: 15%;
    }
    .sq-lar-2{
        width: 150px;
        height: 150px;
        border-radius: 5px;
        left: 30.5%;
        top: 22%;
    }
    .rectangle-1-2{
        width: 300px;
        height: 130px;
        border-radius: 5px;
        left: 10%;
        top: 44%;
        font-size: 13px; 
        padding-bottom: 20px;
        justify-content:end;
        align-items:end;
    }
    .rectangle-2-2{
        width: 150px;
        height: 100px;
        border-radius: 5px;
        left: 30%;
        top: 28%;
        font-size: 17px; 
    }
    .course-name-2{
        margin-bottom: 0;
        padding: 0px;
    }
    .course-no-2{
        margin-top: 3px;
    }
    .course-desc-2{
        padding: 0 10px;
    }
    .view-more-2{
        font-size: 10px;
        color: rgb(55, 53, 53);
        text-decoration: underline;
    }
    .RtoL-card-2 {
        transform: scaleX(1)!important;
    }
    .mirror-text-2 {
        transform: scaleX(1)!important;
    }

}
