body{
    overflow-x:hidden;
}
.card-temp{
    height: 300px;
    position: relative;
}
.sq-small{
    width: 150px;
    height: 150px;
    background-color: #00A496;
    transform: rotate(45deg);
    position: absolute;
    border-radius: 10px;
    left: 50px;
    top: 70px;
    transition: 0.5s ease
}
.sq-med{
    width: 150px;
    height: 150px;
    background-color: #A2F4E4;
    transform: rotate(45deg);
    position: absolute;
    border-radius: 10px;
    left: 100px;
    top: 70px;
    transition: transform 0.5s ease;
}
.sq-lar{
    width: 200px;
    height: 200px;
    background-color: #d1f6e9;
    transform: rotate(45deg);
    position: absolute;
    border-radius: 10px;
    left: 160px;
    top: 45px;
}
.rectangle-1{
    width: 50%;
    height: 130px;
    position:absolute;
    background-color: #A2F4E4;
    border-radius: 10px;
    left: 400px;
    top: 79px;
    cursor: pointer; 
    font-size: 20px;
    color: #00A496;
    font-weight:600;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.rectangle-2{
    width: 15rem;
    height: 150px;
    position:absolute;
    background-color: #A2F4E4;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(103, 101, 101, 0.36);
    left: 178px;
    top: 70px;
    cursor: pointer; 
    font-size: 27px;  
    font-weight: bold;  
    color: #00A496;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.course-name{
    margin-bottom: 7px;
    padding: 0 10px;
}
.course-no{
    margin-top: 7px;
    color: #48B7A1;
}
.course-desc{
    padding: 10px 40px;
    color: #059488; 
    text-decoration: none;
}
.view-more{
    font-size: 13px;
    color: rgb(55, 53, 53);
}

.mirror-text {
    transform: scaleX(-1)!important;
}
.RtoL-card {
    transform: scaleX(-1)!important;
}

.animate-card {
    opacity: 0;
    transform: translateX(70px); 
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    backface-visibility: hidden;
  }
  
.animate-card.visible {
opacity: 1;
transform: translateX(0);
}




@media only screen and (max-width: 1024px) {
    .rectangle-1{
        font-size: 15px;
    }
    .animate-card {
        transform: translateY(70px); 
      }
      
    .animate-card.visible {
    transform: translateY(0);
    }
}
@media only screen and (max-width: 768px) {
    .card-temp{
        height: 150px;
    }
    .sq-small{
        width: 60px;
        height: 60px;
        border-radius: 3px;
        left: 30px;
        top: 70px;
    }
    .sq-med{
        width: 60px;
        height: 60px;
        border-radius: 3px;
        left: 50px;
        top: 70px;
    }
    .sq-lar{
        width: 100px;
        height: 100px;
        border-radius: 5px;
        left: 78px;
        top: 49px;
    }
    .rectangle-1{
        width: 160px;
        height: 60px;
        border-radius: 2px;
        left: 180px;
        top: 69px;
        font-size: 8px;
        
    }
    .rectangle-2{
        width: 100px;
        height: 60px;
        border-radius: 2px;
        left: 85px;
        top: 69px;
        font-size: 13px;  
    }
    .course-name{
        margin-bottom: 0;
        padding: 0px;
    }
    .course-no{
        margin-top: 3px;
    }
    .course-desc{
        padding: 0 10px;
    }
    .view-more{
        font-size: 8px;
        color: rgb(55, 53, 53);
        text-decoration: underline;
    }

}
